body{
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 0px;
	box-sizing: border-box;
	min-height: 100vh;
	padding: 20px;
	font-family: poppins;
	background-image: linear-gradient(45deg, rgb(173, 73, 173), rgb(105, 184, 240));
	background-color: black;
	background-repeat: no-repeat;
	background-size:cover;
	color: #12100c;
}

.flexbox_container {
	display: flex;
	align-self: center;
	justify-content: space-between;
	padding: 50px 30px 70px 30px;
	flex-direction: column;
	align-items: center;
	background-color: #f5f4f4;
	border-radius: 20px;
	box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.15);
}

.left{
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

h1 {
	text-align: center;
	padding: 0px;
	margin: 0px 0px 20px 0px;

}

h2{
	color: #565450;
	font-size: 18px;
	font-weight: 400;
	padding: 0px;
	margin: 15px 0px 10px 0px;
}

#CTA{
	height: 70px;
	width: 100%;
	display: flex;
	flex-direction: row;
	row-gap: 10px;
	margin-top: 30px;
	margin-bottom: 0px;
	z-index: 1;
}

input{
	transition: all 0.3s;
	box-sizing: content-box;
	width: 50%;
	padding: 10px 12px 10px 12px;
	border-radius: 20px 0px 0px 20px;
	border: 1px solid #ffb23c;
	border-right: 0px;
	box-shadow: transparent inset ;
	font-size: 18px;
	color: #565450;
	background-color: white;
}

select{
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
	transition: all 0.3s;
	outline: 0;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 38px;
  	background-position-y: 50%;
	width: 10%;
	min-width: 30px;
	max-width: 60px;
	box-sizing: content-box;
	padding: 10px 15px 10px 20px;
	color: #565450;
	border-bottom: 1px solid #ffb23c;
	border-top: 1px solid #ffb23c;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
}

button{
	box-sizing: content-box;
	width: 35%;
	padding: 10px 15px 10px 15px;
	margin-left: 0px;
	border-color: transparent;
	background-color: #ffb23c;
	border-radius: 0px 20px 20px 0px;
	font-size: 15px;
	font-weight: 600;
}

.result_box{
	margin-top: -20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 200px;
	background-color: #f9f9f9;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.03);
	border-radius: 20px 0px 20px 20px;
}

h3{
	margin: 15px 0px 0px 0px;
	margin: 0px;
	font-size: 35px;
	font-weight: 400;
}

h4{
	margin: 0px 0px 15px 0px;
	font-size: 16px;
	font-weight: 300;
	color: #565450;
}

.right{
	display: none;
}

.hero1{
	display: none;
	max-width: 150px;
}

@media (min-width: 1400px) {

	body {
		padding: 50px;
	}

	.flexbox_container{
		width: 100%;
		padding: 80px;
		flex-direction: row;
		min-height: 500px;
	}

	.left {
		max-width: 550px;
	}
	
	h1 {
		text-align: left;
		margin: 0px 0px 10px 0px;
		font-size: 55px;
		font-weight: 600;
		line-height: 75px;
	}

	h2 {
		max-width: 90%;
	}

	#CTA {
		width: 500px;
	}

	input {
		width: 400px;
		font-size: 20px;
		padding: 16px 25px 16px 25px;
	}

	button {
		width: 200px;
	}

	.result_box {
		width: 500px;
		padding: 0px 0px 0px 0px;
	}

	.right {
		display: block;
	}

	.hero1 {
		display: block;
		max-width: 500px;
	}
}